<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tranphucvinh.mapper.ManagementMapper">
	
	<insert id = "addCategory" parameterType="Map">
		INSERT INTO CATEGORIES(CATEGORY,TYPE) VALUES(#{category},#{categoryType})
	</insert>
	
	<insert id = "deleteCategory" parameterType="String">
		DELETE FROM CATEGORIES WHERE CATEGORY_ID = #{categoryId}
	</insert>
</mapper>

